<%= form_for(@playedit) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :number_of_votes %><br>
    <%= f.text_field :number_of_votes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
